 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  height: 100vh;
}

#caixa {
  position: fixed;
  z-index: -1;
  top: 0;
}

.back{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.logogif {
  
  display: block;
  margin: 20px auto;
}

main {
  width: 375px;
  border-radius: 20px;
  background: #20232E;
  margin: 0 auto 40px;
  padding: 44px 24px 23px;
}
label {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}
select,
input {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #bbbbbbbb;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #555555;
}

button {
  background: #F8E090;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 48px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
button :hover {
  opacity: 0.8;
}

button :active {
  opacity: 0.6;
}

section{
border: 1px solid #F8E090;
border-radius: 20px;
margin-top: 36px;
padding: 12px;
display: flex;
align-items: center;
flex-direction: column;
}
.seta{

margin: 15px 0 ;


}
.abobrinha{

display: flex;
flex-direction: column;
align-items: center;
gap: 4px;
}
.moeda{
color: #777777;
font-size: 14px;

}



.valor-pra-converter , .valor-convertido{
  color: #F8E090;
font-weight: 700;
font-size: 20px;



}